$body-width: min(500px, calc(100vw - 2rem))

$accent: #643A71
$fg: #000
$card-bg: #eee
$card-fg: #000
$good-bg: #0f04
$good-fg: #040
$bad-bg: #400f
$bad-fg: #400
$input-bg: #fff
$input-fg: #000
$scroll-thumb: #8888
$scroll-thumb-active: #666
$scroll-hint: #0006
$results-bg: #fff
$results-border: #aaa
$results-placeholder: #666
$track-unlocked: #aaa
$track-locked: #eee
$track-played: #5a5
$control-bg: #eee
$control-fg: #444
$control-disabled-fg: #666
$control-active-fg: #000
$primary-input-bg: #282
$primary-input-fg: #fff
$secondary-input-bg: #ccc
$secondary-input-fg: #000
