.form_row
    display: flex
    gap: 0.5rem

.form_col
    display: flex
    flex-direction: column
    gap: 0.5rem

.search_label
    color: $label-fg
    font-size: 0.85rem
    text-align: center
    font-style: normal
    display: block

.input
    font: inherit
    font-size: 1.2rem
    border: 4px solid $input-fg
    border-radius: 2rem
    padding: 0.5rem 1rem
    background: $input-bg
    width: 100%
    flex-grow: 999

    &:focus-visible
        @include focus

.search
    position: relative
    flex-grow: 2
    border: 4px solid $input-fg
    border-radius: 2rem
    padding: 0.5rem 1rem
    background: $input-bg
    display: flex
    align-items: center

    &:has(.search__input:focus-visible)
        @include focus

.search__icon
    font-size: 1.2rem
    margin-right: 1ch

.search__input
    border: 0
    padding: 0
    flex-grow: 999
    background: inherit
    font: inherit
    font-size: 1.2rem
    width: 8rem

    &:focus-visible
        // we apply an outline to the parent instead
        outline: 0

.search__results
    position: absolute
    top: calc(100% - 0.5rem)
    left: 0
    width: 100%
    z-index: 2

.search__results__result, .search__results__placeholder
    font: inherit
    text-align: left
    background: $results-bg
    width: 100%
    box-sizing: border-box
    padding: 0.2rem 0.4rem
    border: 1px solid $results-border

    &:not(:last-child)
        border-bottom-width: 0

.search__results__result
    cursor: pointer
    position: relative  // so z-index works

    &:focus-visible
        @include focus
        // prevent outline being hidden by other elements
        z-index: 10

.search__results__placeholder
    color: $results-placeholder
    font-style: italic

.submit
    font: inherit
    border: 0
    border-radius: 2rem
    padding: 0.5rem 1.2rem
    cursor: pointer
    background: $primary-input-bg
    color: $primary-input-fg
    border: 4px solid $primary-input-bg
    flex-grow: 999
    flex-basis: 0

    &:focus-visible
        @include focus

.submit--secondary
    background: $secondary-input-bg
    color: $secondary-input-fg
    border-color: $secondary-input-bg

.submit--danger
    background: $danger-input-bg
    color: $danger-input-fg
    border-color: $danger-input-fg
    font-weight: 500

.link_button
    font: inherit
    font-size: 1.1rem
    font-weight: 450
    border: 0
    background: inherit
    text-decoration: underline
    text-decoration-thickness: 2px
    cursor: pointer
    color: $fg
    align-self: center // avoid stretching

    &:focus-visible
        @include focus

.link_button--danger
    color: $danger-fg
