@import ./_variables

@import ./nav
@import ./player
@import ./forms
@import ./game_type
@import ./scrollable
@import ./card

@font-face
    font-family: 'Roboto Slab'
    src: url('../RobotoSlabVariable.ttf')

body
    margin: 0

main
    font-family: 'Roboto Slab', serif
    height: 100vh
    display: flex
    flex-direction: column
    gap: 1rem
    align-items: center
    padding-bottom: 1rem   // no padding for nav at top
    box-sizing: border-box

.title, .sub
    margin: 0
    text-align: center
