.nav
    display: flex
    align-items: center
    gap: 1rem
    padding: 0.5rem 1rem
    border-bottom: 1px solid $fg
    box-sizing: border-box
    width: 100%

.nav__pad
    flex-grow: 1

.nav__title
    font-size: 1.5rem
    font-weight: 900
    color: $fg
    text-decoration: none
    cursor: pointer

.nav__button
    position: relative

    &:focus-visible
        @include focus

.nav__button__badge
    background-color: $danger-fg
    width: 0.7rem
    height: 0.7rem
    border-radius: 50%
    position: absolute
    top: -0.3rem
    right: 0

.nav__icon
    font-size: 1.5rem
    cursor: pointer
    color: $fg
