doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Beatdrop
    link(rel="stylesheet" href="./index.sass")
    script(src="./index.js" type="module")
  body
    main
      p Beatdrop requires JavaScript to be enabled.
