doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Beatdrop
    link(rel="stylesheet" href="./index.sass")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="https://kit.fontawesome.com/a49ae6bba8.js" crossorigin="anonymous")
    script(src="./index.js" type="module")
  body
    main
      p Beatdrop requires JavaScript to be enabled.
